{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="min-vh-100 d-flex align-items-center justify-content-center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form class="border p-3" method="post">

                    {% csrf_token %}

                    <h3 class="text-center mb-3">To Do App</h3>

                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Enter a task here" name="tas">
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Add Task</button>
                    </div> 

                    <div class="text-end mb-3">
                        <button class="btn btn-dark">
                            <a style="color: rgb(240, 245, 241); text-decoration: none;" href="{% url 'logout' %}">Logout</a>
                        </button>
                    </div> 

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th scope="col">Todo Items</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cre %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.task }}</td>
                                
                                {% if i.finished %} 
                                    <td>Finished</td>
                                {% else %}
                                    <td>On progress</td>
                                {% endif %}
                                
                                <td>
                                    <a class="btn btn-success" href="{% url 'finished' i.id %}">Finish</a>
                                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

